<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <style>
        .main { width: {{ .Site.Params.main.params.width }}; }
        .sidebar { width: {{ .Site.Params.sidebar.params.width }}; }
    </style>
</head>
<body>

    <div class="layout">

        <main class="main" role="main">
            {{ block "main" . }}{{ end }}
        </main>

        <aside class="sidebar" role="complementary">
            {{ partial "sidebar.html" . }}
        </aside>

    </div>

</body>
</html>